<div class="container">
    <h3 class="my-3">{{ header }}</h3>

    <form class="w-50" [formGroup]='form' (ngSubmit)='submit(form.value)'>
        <div class="form-group">
            <label for="name">Id</label>
            <input id="id" type="number" class="form-control" formControlName="id">
    </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input id="jobTitle" type="text" class="form-control" formControlName="jobTitle">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber">
        </div>
        <button class="btn btn-primary" [disabled]="this.form.invalid" type="submit">Submit</button>
    </form>
</div>